# How to concatenate datasets using `Pandas`

In [ ]:
import pandas as pd

## Set up the datasets

In [19]:
df1 = pd.DataFrame(
    {
        "mat-id": ["A0", "A1", "A2", "A3"],
        "formation_energy": [0.1, 0.2, 0.3, 0.4],
        "band_gap": [0.1, 0.2, 0.3, 0.4],
        "bulk_modulus": [0.1, 0.2, 0.3, 0.4],
    },
    index=[0, 1, 2, 3],
)

In [20]:
df2 = pd.DataFrame(
    {
        "mat-id": ["A0", "A4"],
        "phonon": [4, 5],
    },
    index=[0, 1],
)

## Look at the two dataframes

In [21]:
df1.head()

  mat-id  formation_energy  band_gap  bulk_modulus
0     A0               0.1       0.1           0.1
1     A1               0.2       0.2           0.2
2     A2               0.3       0.3           0.3
3     A3               0.4       0.4           0.4

In [22]:
df2.head()

  mat-id  phonon
0     A0       4
1     A4       5

## Step 1: Concatenate the two dataframes 

This will result in a new dataframe, with columns for all properties. However, entries with the same `mat-id` will be repeated

In [23]:
df3 = pd.concat([df1,df2], axis=0, ignore_index=True)
df3.head()

  mat-id  formation_energy  band_gap  bulk_modulus  phonon
0     A0               0.1       0.1           0.1     NaN
1     A1               0.2       0.2           0.2     NaN
2     A2               0.3       0.3           0.3     NaN
3     A3               0.4       0.4           0.4     NaN
4     A0               NaN       NaN           NaN     4.0

## Step 2: Aggregate the values

We group all of the rows with the same `mat-id`, we define an `aggregation_function` that tells `pandas` what to do with the colums of the groups.
Here we set this to `sum` so if a `mat-id` appears more than one, we sum up all the entries in each column, this is fine as they will be `NaN` for exitising property columns in any newly added column.

In [28]:
aggregation_functions = {'formation_energy': 'sum', 'band_gap': 'sum', 'bulk_modulus': 'sum', 'phonon': 'sum'}
df_new = df3.groupby(df3['mat-id']).aggregate(aggregation_functions)
df_new.head()

        formation_energy  band_gap  bulk_modulus  phonon
mat-id
A0                   0.1       0.1           0.1     4.0
A1                   0.2       0.2           0.2     0.0
A2                   0.3       0.3           0.3     0.0
A3                   0.4       0.4           0.4     0.0
A4                   0.0       0.0           0.0     5.0